/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

:root {
    /* Primary */
    --desatCyan:  hsl(180, 29%, 50%);
    /* Neutral */
    --bgGrayishCyan: hsl(180, 52%, 96%);
    --filterGrayishCyan: hsl(180, 31%, 95%);
    --darkGrayishCyan: hsl(180, 8%, 52%);
    --veryDarkCyan: hsl(180, 14%, 20%);
}

 img {
    width: 100%;
}

header {
    position: relative;
    margin-bottom: 5rem;
}

main {
    min-height: 100vh;
    padding: 10px;
}

.tags {
    height: 80px;
    width: 65%;
    padding: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.tags button {
    margin-left: auto;
    margin-right: 1rem;
    border: none;
    color: var(--darkGrayishCyan);
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
}

.borderLeft {
    border-left: 3px solid var(--desatCyan);
}

.listings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.job {
    width: 50%;
    min-width: 355px;
    height: 125px;
    margin: 20px 0px;
    border: 1px solid black;
}


@media only screen and (min-width: 768px) {
    main {
        padding: 2.5rem;
    }
    .job {
        width: 80%;
    }
}