/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

:root {
    /* Primary */
    --desatCyan:  hsl(180, 29%, 50%);
    /* Neutral */
    --bgGrayishCyan: hsl(180, 52%, 96%);
    --filterGrayishCyan: hsl(180, 31%, 95%);
    --darkGrayishCyan: hsl(180, 8%, 52%);
    --veryDarkCyan: hsl(180, 14%, 20%);
}

body { background-color: var(--bgGrayishCyan);}

 picture img {
    width: 100%;
}

header {
    position: relative;
    margin-bottom: 5rem;
}

.bg-shape {  
    background-color: var(--desatCyan);
    
}
main {
    min-height: 100vh;
    padding: 10px;
}

.chosen-tags {
    height: auto;
    width: 65%;
    padding: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}
.hidden {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.chosen-tag {
    border-radius: 5px;
    margin: 10px;
    border: none;
    font-weight: 700;
    background-color: var(--filterGrayishCyan);
    color: var(--desatCyan);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chosen-tag span { padding: 5px 10px 5px; }
.chosen-tag button {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    background-color: var(--desatCyan);
}
.chosen-tag button:hover { background-color: var(--veryDarkCyan); cursor: pointer; }
.clearButton {
    margin-left: auto;
    margin-right: 1rem;
    border: none;
    color: var(--darkGrayishCyan);
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    display: inline;
}
.clearButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.borderLeft {
    border-left: 5px solid var(--desatCyan);
}

.listings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.job {
    width: 300px;
    height: 250px;
    margin: 20px 0px;
    padding: 1rem 1.2rem;
    background-color: white;
    box-shadow: hsl(180, 29%, 50%) 0px 10px 27px -12px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.job img {
    width: 45px;
    position: absolute;
    top: -25px;
}

.leftContent-job {
    width: 100%;
}
h4 {
    display: inline;
    color: var(--desatCyan);
}
.company { margin: 15px 0; display: flex; align-items: center;}

.new {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: var(--desatCyan);
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.featured {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.title-details {
    margin: 5px 0px;
    color: var(--darkGrayishCyan); 
    display: flex;
    flex-wrap: wrap;
}
.title p:hover {
    color: var(--desatCyan);
    cursor: pointer;
}

.dot::before { content:"• "; margin: 0px 5px;  }
.job-tags {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
}

.job-tags button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    background-color: var(--filterGrayishCyan);
    color: var(--desatCyan);
    font-size: 15px;
}

.job-tags button:hover {
    cursor: pointer;
    background-color: var(--desatCyan);
    color: white;
}




@media only screen and (min-width: 768px) {
    main {
        padding: 2.5rem;
        font-size: 15px;
    }
    .job {
        width: 80%;
        height: 125px;
        position: static;
        flex-direction: row;
        align-items: center;
    }
    .job img { 
        position: static;
        width: auto;
        margin: 0px 20px;
    }

    .leftContent-job {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        width: 250px;
    }

    .job-tags {
        width: 40%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h4 { font-size: 18px; }
    .title p { font-size: 20px; }
    .title-details { 
        font-size: 16px; 
        justify-content: space-between;
    }
    hr { display: none; }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    .job img { margin: 0px 5px; }
    .leftContent-job { margin: 0px 10px; }
}
